<app-sidenav></app-sidenav>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width0" />
    <style>
      
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
    

  </div>
  <div class="col-md-9">
    <div class="content">
      <h2>Work Integrated Learning Environment</h2>
      <h3>Work-Integrated Registration Form</h3>
      <!--  -->
<div class="formBox">
    <h4>EMPLOYER PLACEMENT INFORMATION </h4>
       <h4 style="margin-left: 16vh;"> (Please complete in full)</h4>
      <br>
       <form class="text-center custom-form">
        
          <input type="email" class="form-control" id="email" placeholder="Name of approved employer" formControlName="email" required>
          <input type="email" class="form-control" id="email" placeholder="Company’s Contact Person" formControlName="email" required>
          <input type="email" class="form-control" id="email" placeholder="Company’s telephone number" formControlName="email" required>
          <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email" required>
          <input type="email" class="form-control" id="email" placeholder="Physical Address Where Training Takes Place" formControlName="email" required>
          <input type="email" class="form-control" id="email" placeholder="Postal Address Where Training Takes Place" formControlName="email" required>
          <input type="email" class="form-control" id="email" placeholder="City" formControlName="email" required>
        </form>

    </div>
    
        <img  src="../../../assets/footer_1.png" alt=""/>
    
    </div>
    <!-- <app-footer></app-footer> -->
    
  </div>
  </div>
  </div>
  </body>
</html>

