<!-- <app-sidenav></app-sidenav>
<div class="content">
    <h2>Work Integrated Learning Environment</h2>
    <h3>Work-Integrated Registration Form</h3>
    <p>If you are completing this form, note that a copy of the placement</p>
    <p>letter should be attached. This is a prerequisite for WIL registration.</p>
    <button>Download Letter</button>
  </div> -->
  <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width0" />
    <style>
    </style>
  </head> 
  <body>
    <app-sidenav></app-sidenav>

    <br>
    <div class="work_Learning">Work Integrated Learning Environment</div>
 
    <div class="readmission_form">
       <div class="admission_Form">Re-Admission Form</div>
      </div>
  
  <div class= "form_box">
    <div class= "flex">
      <div class="completing_Form"> You are completing re-admission form</div>
   <form  [formGroup]="reAdmissionForm" class="admission_form" id="form" #myForm="ngForm">
    <div class="Choice_Qualification">CHOICE OF QUALIFICATON</div>
    <div class="choice_1">
  <input type="text" formControlName="firstChoice"class="choice_Of_Qua" placeholder="Write your choice of qualification here" required> 
     </div>	 
    <div class="Type_enrollment">CLASSES OF PREFERENCE </div>
       <div class="Day_Classes">
         <input type="radio" formControlName ="enrollType"  value="Day Classes" id="day_classes" required> 
          Day Classes
         </div>
       <div class="Evening_Classes">
       <input type="radio" formControlName ="enrollType"  value="Evening Classes" id="evening_classes" required >
       Evening Classes
       </div>
     <div class="Block_Classes">
      <input type="radio" formControlName ="enrollType" value="Block Classes" id="block_classes" required>
       Block Classes
     </div><br><br><br> 

       <h2>FINANCIAL AID</h2>
      <p>Do you require financial aid?</p>
  <div class="option_1">
    <input type="radio" formControlName ="finacialAid"  value="Yes, i require financial aid" id="req_finance" required>
       Yes, i require financial aid
  </div>
  <div class="option_2">
  <input type="radio" formControlName ="finacialAid"  value="No, i do not require financial aid" id="req_finance1" required>
       No, i do not require financial aid
  </div>
  
   <div class = "campuses_1">CAMPUS</div>
   <div class = "select_campuses">Please select your campus</div>

 <div class = "block_2">
 <input type="radio" formControlName ="campus" value="Pretoria campuses" id="pretoria_campuses" required>
   Pretoria campuses<br><br>
 <input type="radio" formControlName ="campus" value="Polokwane campuses" id="polokwane_campuses" required>
   Polokwane campuses<br><br>
 <input type="radio" formControlName ="campus" value="Mbombela campuses" id="mbombela_campuses" required>
   Mbombela campuses<br><br>
 <input type="radio" formControlName ="campus" value="Emalahleni campuses" id="emalahleni_campuses" required>
  Emalahleni campuses<br><br>
</div>
</form>
</div>
</div> 
   <div class="btnForm">
     <button id="form" form="form" value="submit" [disabled]="!myForm.form.valid" (click)="onSubmit()">Next</button>
    </div>
     <div class="imgFooter">
    <img src="../../../assets/footer 1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
   <!-- <app-footer></app-footer> -->
 </div>
  </body>
</html>