body{
  font-size: 14px;
 }
 .container{
   width: 100%;
   height: 1024px;
   background: rgba(255,255,255,1);
   opacity: 1;
   position: relative;
   top: 0px;
   left: 0px;
   overflow: hidden;
 }
 .work_Learning {
 width: 597px;
 color: grey;
 position: absolute;
 top: 70px;
 left: 785px;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-family: Inter;
 font-weight: Semi Bold;
 font-size: 32px;
 text-align: left;
 }
 .form_box{
  width: 923px;
  height: 670px;
  background: rgba(217,217,217,1);
  position: absolute;
  top: 300px;
  left: 600px;
  border-radius: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
 }
 .admission_Form{
 width: 231px;
 color: rgba(0,0,0,1);
 position: absolute;
 top: 30px;
 left: 120px;
 font-family: Inter;
 font-weight: Bold;
 font-size: 24px;
 opacity: 1;
 text-align: center;
 }
 .readmission_form {
 width: 444px;
 height: 93px;
 background: rgba(217,217,217,1);
 opacity: 1;
 position: absolute;
 top: 150px;
 left: 842px;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
 border-bottom-left-radius: 30px;
 border-bottom-right-radius: 30px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 overflow: hidden;
 }
 .Choice_Qualification{
 
 color: rgba(0,0,0,1);
 position: absolute;
 top: 110px;
 left: 70px;
 font-family: Inter;
 font-weight: Normal;
 font-size: 20px;
 text-align: left;
 
 }
 .completing_Form{
 width: 50%;
 color:rgba(0,0,0,1);
 top:5%;
 left:30%;
 font-family: Inter;
 font-weight:Light;
 font-size:24px;
 text-align:center;
 position: absolute;
 }
 .choice_1{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 170px;
 left: 70px;
 width: 28%;
 height:40px;
 }
 .choice_Of_Qua, .choice_Of_Qua:focus{
 width:100%;
 height:100%;
 background: rgba(217,217,217,1);
 outline:none;
 border:none;
 border-bottom: 1px solid black;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 16px;
 
 }
 .Type_enrollment{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 110px;
 left: 600px;
 font-family: bold;
 font-weight: Normal;
 font-size: 20px;
 opacity: 1;
 text-align: right;
 }
 .Day_Classes {
 color: rgba(0,0,0,1);
 position: absolute;
 top: 190px;
 left: 600px;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 14px;
 text-align: left;
 
 }
 input[type="radio"]:checked{
   border-color:blue;
   border-style:solid;
   border-radius:30%;
   border-width:1px;
   outline: none;
   border: none;
   
 }
 
 .Evening_Classes {
 color: rgba(0,0,0,1);
 position: absolute;
 top: 235px;
 left: 600px;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 14px;
 text-align: left;
 }
 .Block_Classes {
 color: rgba(0,0,0,1);
 position: absolute;
 top: 280px;
 left: 600px;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 14px;
 text-align: left;
 }
 
 .option_1{
 
 color: rgba(0,0,0,1);
 position: absolute;
 top: 530px;
 left: 70px;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 16px;
 text-align: left;
 }
 .option_2{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 490px;
 left: 70px;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 16px;
 text-align: left;
 }
 
 h2{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 380px;
 left: 70px;
 font-family: Inter;
 font-weight: Regular;
 font-size: 20px;
 opacity: 1;
 text-align: left;
 }
 p{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 430px;
 left: 70px;
 font-family: Inter;
 font-weight: Regular;
 font-size: 16px;
 opacity: 1;
 text-align: left;
 }
 
 .campuses_1{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 380px;
 left: 600px;
 font-family: Inter;
 font-weight: Montserrat;
 font-size: 20px;
 text-align: right;
 }
 .select_campuses{
 color: rgba(0,0,0,1);
 position: absolute;
 top: 430px;
 left: 600px;
 font-family: Inter;
 font-weight: Regular;
 font-size: 16px;
 text-align: right;
 }
 
 .flex{
   display:flex;
   margin-left:20%;
  }
  
  .flex .block_2{
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  margin-left: 412px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
  }
   button{
    background-color:#0055C9;
    color:#FFFFFF;
    width:145px;
    height:55px;
    border-radius:31px;
    font-size:32px;
    font-weight:Bold;
    text-align:center;
    left:52%;
    position: absolute;
    border:none;
    top:120%;
    
  }  
 
 .imgFooter{
   bottom: 0;
   right: 0;
   width: 40%;
   margin-left: 30%;
   padding-top: 50%;
 } 
 
 
 @media screen and (max-width: 768px) {
   body {
     font-size: 12px;
   }
   
   .container {
     height: auto;
   }
   
   .work_Learning {
     width: 100%;
     top: 400px;
     left: 30px;
     font-size: 28px;
     text-align: center;
   }
   
   .form_box {
     width: 90%;
     height: 530px;
     top: 550px;
     left: 5%;
   }
   
   .admission_Form {
     width: 100%;
     top: 20px;
     left: 0;
     font-size: 20px;
 
   }
   
   .readmission_form {
     width: 40%;
     height: 70px;
     top: 450px;
     left: 30%;
     font-size: 14px;
   }
   
   .Choice_Qualification,
   .Type_enrollment,
   .Day_Classes,
   .Evening_Classes,
   .Block_Classes,
   .option_1,
   .option_2,
   h2,
   p,
   .campuses_1,
   .select_campuses {
     font-size: 14px;
     text-align: center;
     position: relative;
     top: 0;
     left: 0;
   }
   
   .completing_Form {
     width: 90%;
     top: 520px;
     left: 5%;
     font-size: 20px;
     text-align: center;
   }
   
   .choice_1 {
     width: 80%;
     height: 30px;
     top: 100px;
     left: 10px;
     font-size: 14px;
   }
   
   .flex {
     display: block;
     margin: 0 auto;
   }
   
   .flex .block_2 {
     margin-left: 0;
   }
   
   button {
     top: 120%;
     left: 40%;
     margin-bottom: 20px;
   }
   
   .imgFooter {
     position: fixed;
     width: 100%;
     margin: 0;
     bottom: 0;
     width: 40%;
     margin-left: 10%;
   }
 }
  
 
 