

.content {
  margin-left: 5%;
  padding: 5%;
  font-family: 'Montserrat'
}

.content h2 {
  font-size: 2vw;
  /* padding-left: 10%; */
  color: rgb(87, 85, 85);
}

.content h3 {
  font-size: 1.5vw;
  margin-top: 10vh;
  margin-bottom: 4vh;
  margin-left: 3%;
  padding: 1vw;
  padding-left: 4vw;
  width: 50%;
  border-radius: 2vw;
  background-color: #D9D9D9;
}

.content p {
  font-size: 1.5vw;
  /* padding-left: 5%; */
  
  
  margin-top: 8vh;
}

.content h4{
  margin-left: 4%;
  font-weight: 200;
}

.content button {
  margin-top: 5vh;
  margin-left: 15%;
  margin-bottom: 30vh;
  width: 32%;
  height: 4vw;
  font-size: 2vw;
  border-radius: 31px;
  border: 0ch;
  background-color: #0055c9;
  color: white;
}

.content img{
  position:fixed ;
  bottom: 0;
  right: 0;
  width: 70%;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 6%;
  }

  .content h2 {
    font-size: 4vw;
    padding-left: 2%;
  }

  .content h3 {
    font-size: 3vw;
    margin-top: 10%;
    margin-left: 2%;
    width: 80%;
    padding: 2%;
    padding-right: 1vw;
  }

  .content p {
    font-size: 2.5vw;
    padding-left: 2%;
  }
  .content h4{
    margin-left: 2%;
    font-weight: 200;
    font-size: 3vw;
  }
  .content svg{
    width: 5%;
  }

  .content button {
    margin-top: 10%;
    margin-left: 8%;
    width: 50%;
    height: 10vw;
    font-size: 3vw;
    margin-bottom: 20%;
  }

  .content img{
    position:static;
 left: 0;
  width: 100%;
  margin-left: 8%;
  }
}

  
