<body>
<app-sidenav></app-sidenav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

  </div>
  <div class="col-md-9">
    <div class="content">
      <h2>Work Integrated Learning Environment</h2>
      <h3>Work-Integrated Registration Form</h3>
      <p>If you are completing this form, note that a copy of the placement<br>
        letter should be attached. This is a prerequisite for WIL registration.</p>
      <!-- <p style="margin-left:7% ">
        Click the <span style="color: #FF0000">DOWNLOAD LETTER</span> button
        below
      </p> -->
    <h4  style="color: #FF0000" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg> Do not worry the institution has your personal details.</h4>
      <button routerLink="/ep-information">Complete the form </button>
        <img  src="../../../assets/footer 1.png" alt=""/>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>
  </div>
  </div>
</body>
  