<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <app-sidenav></app-sidenav>
    <div class="heading">
        <h1>Life as an intern</h1>
    </div>
    
    <app-topnav></app-topnav>
    <div class="main">
        <div class="header">
              <h2>Log Entries</h2>
        </div>

        <br><br>
        <br><br>
        <br><br>
        
        

        <div class="middle" >
                <img src=".\assets\tick.png" alt=""class="greentick">

            <div class="text">
                <p>Log Saved</p>
                
            </div>
        </div>
    </div>

    <br><br>
    <br><br>

    <button class="button" routerLink="/log-entries-internal">New Entry</button>
    <br><br>
    <div class="footer">
   <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 43%;"/>
    </div>
