.main{
  margin-top: 5%;
}

.header{
  display: flex;
  margin-left: 25%;
}

 h1{
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
 }
h2 {

  margin-left: 40%;
}
.middle{
 
  height: 133px;
   margin-left: 700px;

}
.text{
  display: inline-block; 
  
  height: 100%;
  width: 73%;
  padding-left: 15px;
  margin-left: 100px ;
  margin-top: 100px;
  margin-left:200px

}
p{
  margin: 0;
  padding: 0;
  display: inline;
}
.greentick{
  height: 100px;
  width: 100px;
  display: inline;
  margin: 0;
  margin-top: -50px;
 
}

.button{

  background-color: #0055C9;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin-left: 72%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
 
}

 