<body>
    <div class="container">
   
        <img  src="../../../assets/logoTUTC.png"
        alt="">
        <h2>Life as an Intern</h2>
         <app-mentor-navbar></app-mentor-navbar>  

         <div class="main">
            <div  routerLink="/mentor_notification" class="my-div">
                <img src=".\assets\noti_icon.png" style="width: 250px; height: 300px; margin-top: 22%;">
                <h3 style="margin-top: 8%;">Notifications</h3>
                <p>Check messages <br>and reminders</p>
              </div>

              <div routerLink="/mentor_invites" class="my-div">
                <div class="imgdiv">
                  <img src=".\assets\email_I.png" style="width: 250px; height: 300px; margin-top: 15%;">
                </div>
                <h3 style="margin-top: 8%;">Invitation</h3>
                <p>Check <br>Invitation</p>
              </div>
            
              <div routerLink="/mentee_list" class="my-div">
                <img src=".\assets\log_entry.png" style="width: 225px; height: 250px; margin-top: 25%;">
                <h4 style="margin-top:20%;" >Log Entries</h4>
        <p>Record events, <br>actions or changes</p>
      </div>
               
           
      </div>  
      </div>
      <div class="footer">
        <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
    </div>
      </body> 

