.heading{
	margin-left: 15%;
	/* font-family: 'Montserrat'; */
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
	margin-top: 5%;
	margin-left: 15%;
	/* font-family: 'Montserrat'; */
}

.intergratedH{
	background-color: #2196F3;
	color:#ffff;
	text-align: center;
	border-radius: 20px;
	margin-left: 25%;
	margin-right: 35%;
	width: 800px;
	/* font-family: 'Montserrat'; */
}
h3{
	background-color: #2196F3;
	color:#ffff;
	text-align: center;
	border-radius: 15px;
	margin-left: 40%;
	margin-right: 40%;
	/* font-family: 'Montserrat'; */
}

p{
	text-align: center;
	/* font-family: 'Montserrat'; */
	margin-left: 10%;
	margin-right: 10%;
}
.footer{
    margin-left:15.5%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
	.heading {
	  margin-left: 5%;
	}
  
	.heading h1 {
	  text-shadow: none;
	}
  
	.main {
	  margin-left: 5%;
	}
  
	.intergratedH {
	  margin-left: 5%;
	  margin-right: 5%;
	  width: auto;
	}
  
	h3 {
	  margin-left: 10%;
	  margin-right: 10%;
	}
  
	.footer {
	  margin-left: 5.5%;
	}
  }