.main{
    margin-top: 5%;
    margin-left: 15%;
    font-family: 'Montserrat'
}
.header{
    text-align: center;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
}

.logColum{
    margin-top: 4%;
    text-align: center;
}

.logentry label{
    margin-left: 18%;
}

.footer{
    margin-left:15.5%;
    margin-top: 6%;
    bottom: 0;
}