
<body>
    <div class="heading">
        <h1>Life as an intern</h1>
      </div>
      <app-sidenav></app-sidenav>
      <app-topnav></app-topnav>
      <div class="main">
      <div class="h">
        <p>Report</p>
      </div>
      <div class="content">
        <div class="circle">
          <div class="checkmark"></div>
        </div>
        <p> This month has been submitted and approved <br>by your Wilcoordinator, however, you can still can</p>
        <div class="W">
            <p >VIEW REPORT</p>
      </div>
      </div>
      </div>
      
      
    <div class="footer">
   <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 43%;"/>
    </div>

</body>