<body>
    <div class="container">
      <img src="../../../assets/logoTUTC.png" alt="" />
      <div class="heading">
        <h2>Life as an Intern</h2>
      </div>
  
      <app-admin-navbar></app-admin-navbar>
      <h3>
        <span style="color: #ffb300; font-weight: bold">Profile of:</span>
        {{ studentInfo.initials }} {{ studentInfo.surname }}
        {{ studentInfo.student_no }}
      </h3>
      <p>
        <span style="color: #f5002f; font-weight: bold">Instructions:</span><br />
  
        Please keep the following points in mind while processing applications for
        the WIL-Module:<br />
        <br />
        1.Incomplete Form: Ensure that the application form is fully completed
        without any missing information.<br />
        2.Missing Attachments: Verify that all required attachments are included
        with the application.<br />
        3.False Information: Thoroughly review the application to identify any
        instances of false or misleading information.<br />
        4.Company Verification: Confirm that the company where the applicant is
        placed has been properly verified.
        <br /><br />
        Please note that failure to meet any of these requirements will result in
        disqualification of the student from registering for the WIL-Module.
      </p>
      <br />
      <h3 style="color: #080808; font-weight: bold">
        Work-Integrated Registration form
      </h3>
      <h1 style="color: #ffb300; font-weight: bold">Placement Information</h1>
      <form>
        <div class="form-label">
          <label for="com-name">Company Name</label> <br />
          <label for="con-person">Contact Person </label> <br />
          <label for="com-name">Telephone Number </label> <br />
          <label for="com-name">Email Address</label> <br />
          <label for="com-name">City</label> <br />
          <label for="com-name">Postal Adress</label> <br />
        </div>
        <div class="form-input">
          <input
            *ngIf="studentInfo"
            type="text"
            id="companyName"
            name="companyName"
            [(ngModel)]="studentInfo.approvedEmployer"
            readonly
          /><br />
          <input
            *ngIf="studentInfo"
            type="text"
            id="contactPerson"
            name="contactPerson"
            [(ngModel)]="studentInfo.contactPerson"
            readonly
          />
          <br />
          <input
            *ngIf="studentInfo"
            type="text"
            id="telNumber"
            name="telNumber"
            [(ngModel)]="studentInfo.telNumber"
            readonly
          />
          <br />
          <input
            *ngIf="studentInfo"
            type="text"
            id="emp_email"
            name="emp_email"
            [(ngModel)]="studentInfo.emp_email"
            readonly
          />
          <br />
          <input
            *ngIf="studentInfo"
            type="text"
            id="telNumber"
            name="city"
            [(ngModel)]="studentInfo.city"
            readonly
          />
          <br />
          <input
            *ngIf="studentInfo"
            type="text"
            id="telNumber"
            name="postalAddress"
            [(ngModel)]="studentInfo.postalAddress"
            readonly
          />
          <br />
        </div>
        <h4 style="color: #ffb300; font-weight: bold">Period of Study</h4>
  
        <div class="form-label">
          <label for="com-name">Period of Study</label> <br />
        </div>
        <div class="form-period">
          <input
            *ngIf="studentInfo"
            type="text"
            id="telNumber"
            name="studyPeriod"
            [(ngModel)]="studentInfo.studyPeriod"
            readonly
          />
          <br />
        </div>
      </form>
      <h4 style="color: #ffb300; font-weight: bold">Employment Letter</h4>
  
      <div *ngIf="fileName">
        <div class="file">
          <h1>Document Name</h1>
          <br />
          <p>{{ fileName }}</p>
        </div>
        <div class="download">
          <button (click)="downloadPlacementLetter()">
            Download Placement Letter
          </button>
        </div>
      </div>
  
      <div class="admission">
        <h3 style="color: #080808; font-weight: bold">
          Work-Integrated Registration form
        </h3>
        <div class="choice">
          <h1 style="color: #ffb300; font-weight: bold">
            Choice of Qualification
          </h1>
          <h2>Qualification Name</h2>
          <p>{{ admissionInfo.firstChoice }}</p>
        </div>
        <!--  -->
        <div class="class">
          <h1 style="color: #ffb300; font-weight: bold">Class of Preference</h1>
          <h2>Preference</h2>
          <p>{{ admissionInfo.enrollType }}</p>
        </div>
        <!--  -->
        <div class="campus">
          <h1 style="color: #ffb300; font-weight: bold">Campus</h1>
          <h2>Campus Name</h2>
          <p>{{ admissionInfo.campus }}</p>
        </div>
        <!--  -->
        <div class="finacial">
          <h1 style="color: #ffb300; font-weight: bold">Finacial Aid</h1>
          <h2>Finacial Aid?</h2>
          <p>{{ admissionInfo.finacialAid }}</p>
        </div>
      </div>
      <!--  -->
      <div class="Stamp">
        <h3 style="color: #080808; font-weight: bold">
          Declaration
        </h3>
        <div class="sign-dec">
          <h1 style="color: #ffb300; font-weight: bold">
            Signed Declaration
          </h1>
          <h2>Yes or No</h2>
          <p>Yes</p>
        </div>
        <!--  -->
        <div class="sign-stamp">
          <h1 style="color: #ffb300; font-weight: bold">Admin Office Approval</h1>
          <h2>Stamp</h2>
          <img src="../../../assets/stamp.png" alt="" />
        </div>
        <!--  -->
       
      </div>
      <div class="declaration">
        <!-- Existing code  -->
      
        <div class="approve">
          <button (click)="showConfirmationModal()">Approve</button>
        </div>
      
     <!-- Confirmation Modal  -->
        <div class="modal" [ngClass]="{ 'modal-visible': isConfirmationModalVisible }">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">CONFIRMATION</h5>
                
              </div>
              <div class="modal-body">
                <div class="app-stud">
                  <p>
                    Applicant: <span>{{ studentInfo.student_no }}</span>
                  </p>
                </div>
                <div class="app-info">
                  <p>
                    Are you sure that you have verified the student's
                    <br />Application documents and have verified with<br />
                    <span>company?</span>
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btnN" (click)="cancelConfirmationModal()" >Not sure</button>
                <button type="button" class="btnY" (click)="approveApplication()">Yes</button>
              </div>
            </div>
          </div>
        </div>
      <!-- Second Modal  -->
        <div class="modal" [ngClass]="{ 'modal-visible': isSecondModalVisible }">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
               
              </div>
              <div class="modal-body2">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                style="color: #12c556"
                width="120"
                height="120"
                fill="currentColor"
                class="bi bi-check-circle-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                />
              </svg>
              <p style="margin-top: -16% ;">
                Student Document Verified.<br>
               <span style="margin-left: -4%;">Forms have successfully sent to </span> <br>
               <span style="margin-left: 14%;">Register Office</span> 
            </p>
              </div>
              <div class="modal-footer2">
                <button type="button" (click)="closeSecondModal()" aria-label="Close" routerLink="/registrar-applicants">Get list</button>
              </div>
            </div>
          </div>
        </div>
        <div class="reject">
          <button
          (click)="rejectApplication()"
            [routerLink]="['/admin-reject', studentInfo.student_no]"
          >
            Reject
          </button>
        </div>
      </div>
       
      <br />
      <div class="footer">
        <img  src="../../../assets/footer 1.png" alt=""/>
      </div>
      
    </div>
  </body>
  
