<body>
    

<div class="heading">
    <h1>Life as an intern</h1>
</div>
<app-sidenav></app-sidenav>
<app-topnav></app-topnav>
<div class="main">
    <div class="header">
        <h3 style="font-family: 'Montserrat'">Placement Information</h3>
    </div>
        <label for="">SELECT TITLE:</label><input type="text" required><br>
        <label for="">FIRST NAME:</label><input type="text" style="margin-left: 15.8%;"  required><br>
        <label for="">LAST NAME:</label><input type="text"  style="margin-left: 16%;" required><br>
        <label for="">EMAIL:</label><input type="text" style="margin-left: 18.5%;" required><br>
        <label for="">MOBILE NO:</label><input type="text" style="margin-left: 16.2%;" required><br>

        <button>Send Invitation</button>
</div>
<div class="footer">
    <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
</div>
</body>