.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
    margin-left: 15%;
    /* font-family: 'Montserrat' */
}
.main h3 {
    font-size: 1.5vw;
    margin-top: 10vh;
    margin-bottom: 4vh;
    margin-left: 37%;
    padding: 1vw;
    padding-left: 4vw;
    width: 25%;
    border-radius: 2vw;
    background-color: #D9D9D9;
}

.main label{
    margin-left: 15%;
}

.main input{
    margin-left: 15%;
    border-color: black;
    margin-top: 2%;
    width: 350px;
}

.main button {
    margin-top: 5vh;
    margin-left: 25%;
    margin-bottom: 30vh;
    width: 18%;
    height: 4vw;
    font-size: 2vw;
    border-radius: 31px;
    border: 0ch;
    background-color: #0055c9;
    color: white;
  }
  
.footer{
    margin-left:15.5%;
    margin-top: 6%;
    bottom: 0;
}