/* .footer{
    margin-left: 918px;
  
    padding-left: 200px;
    padding-bottom: 100px;
   position: fixed;
   
   
    
}

.footer img{
   
     width: 800px;
    height: 358px; 
    transform: scale(1);
} */

.footer {
    margin-left:35% ;
    padding-top: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 31px;
    width: 50%;
    /* text-align: center; */
  }
  
  /* .footer img {
    max-width: 100%;
    height: auto;
  } */
  


  @media (max-width: 768px) {
    .footer {
      /* margin-left: 0; */
      padding: 2%;
    }
}
  

/* @media screen and (min-width: 400px) {
    .footer img{
   
        width: 00px;
       height: 358px; 
       transform: scale(1);
   }  
} */


  
  
  