<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
    <div class="header">
        <h1>Placement information</h1>
    </div>
    <div class="p_info">
        <div class="updateMentor"><i style="font-size:24px" class="fa">&#xf105;</i>
            <h2>UPDATE MENTORS</h2>
            <button routerLink="/addmentor">Edit/add Mentor</button><br><br>
            <button routerLink="/changementor">Change Mentor</button><br><br>
        </div>
        <div class="updateworkS">
            <h2>UPDATE WORKSTATION/DIVISION</h2>
            <button routerLink="/addwork">Edit/Add Workstation/Division</button><br><br>
            <button routerLink="/changework">Change Workstation/Division</button><br><br>
            <button routerLink="/placementd">My placement Details</button><br><br>
        </div>
    </div>
</div>