<body>
<app-sidenav></app-sidenav>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
  
</div>
<div class="col-md-9">
  <div class="content">
    <h2>Work Integrated Learning Environment</h2>
    <h3 style="color: #F5002F" > <svg xmlns="http://www.w3.org/2000/svg" width="45"  fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg> <span style="margin-left: 2%;">DECLARATION:</span></h3>
    <p style="color: #F5002F">
        By clicking the <span style="color: #0055C9"> REGISTER ME!</span> button below, you declare that all <br>
        information you have provided on this form are correct and you <br> 
        undertake to abide by the rules, regulations (Prospectus, Part 1 - Ch 5 <br>
        of student rules and regulations)and decisions of the Tshwane <br> 
        University of Technology, as well as any amendments applicable of <br> 
        students in general. Should you be registered incorrectly as a result of <br>
        incorrect information that you provided,you accept full <br><span style="margin-left: 20%;"> responsibility.</span> </p>
    
  
    <button [routerLink]="['/success-respond']">Register Me!</button>
    
  
      <img  src="../../../assets/footer 1.png" alt=""/>
  
  </div>
  
</div>
</div>
</div> 
</body>


