body{
  font-family: "Montserrat";
}

.content {
    margin-left: 5%;
    padding: 5%;
    
  }
  
  .content h2 {
    font-size: 2vw;
    /* padding-left: 10%; */
    color: rgb(87, 85, 85);
  }
  
  .content h3 {
    font-size: 1.5vw;
    margin-top: 8vh;
    margin-bottom: 1h;
    margin-left: 14%;
    padding: 1vw;
    padding-left: 3vw;
  
  }
  
  .content p {
    font-size: 1.5vw;
    /* padding-left: 5%; */
    
    margin-left: -4% ;
    margin-top: 3vh;
  }
  
  
  .content button {
    margin-top: 5vh;
    margin-left: 12%;
    margin-bottom: 15vh;
    width: 32%;
    height: 4vw;
    font-size: 2vw;
    border-radius: 31px;
    border: 0ch;
    background-color: #0055c9;
    color: white;
  }

  .content button:disabled {
    background-color: #b9d4fa; /* Set the desired background color when the button is disabled */
  }
  
  .content img{
    position:fixed ;
    bottom: 0;
    right: 0;
    width: 70%;
  }
  .confirm {
    margin-top: 2%;
    margin-left: 20%;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .confirm input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 4px;
    position: relative;
  }
  
  .confirm input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: black;
    visibility: hidden;
  }
  
  .confirm input[type="checkbox"]:checked::before {
    visibility: visible;
  }
  
  .confirm label{
    margin-left: 2%;
  }
  
  @media (max-width: 768px) {
    .content {
      margin-left: 0;
      padding: 6%;
    }
  
    .content h2 {
      font-size: 4vw;
      padding-left: 2%;
    }
  
    .content h3 {
      font-size: 3vw;
      margin-top: 10%;
      margin-left: 2%;
      width: 80%;
      padding: 2%;
      padding-right: 1vw;
    }
  
    .content p {
      font-size: 2.5vw;
      padding-left: 2%;
    }
    .content h4{
      margin-left: 2%;
      font-weight: 200;
      font-size: 3vw;
    }
    .content svg{
      width: 5%;
    }
  
    .content button {
      margin-top: 10%;
      margin-left: 8%;
      width: 50%;
      height: 10vw;
      font-size: 3vw;
      margin-bottom: 20%;
    }
  
    .content img{
      position:static;
   left: 0;
    width: 100%;
    margin-left: 8%;
    }
  }
  
    
  