<body>
<app-wil-topnav></app-wil-topnav>
  <div class="main">
      <div  routerLink="Notifications" class="my-div">
          <img src=".\assets\noti_icon.png" style="width: 250px; height: 300px; margin-top: 22%;">
          <h3 style="margin-top: 8%;">Notifications</h3>
          <p>Check messages <br>and reminders</p>
        </div>
      
        <div routerLink="/I_activities" class="my-div">
          <img src=".\assets\log_entry.png" style="width: 225px; height: 250px; margin-top: 25%;">
          
          <h2 style="margin-top: 16%;" >Intern's Activities</h2>
          <p>Track Intern's <br>Activities</p>
        </div>
      
        <div routerLink="/wilAssessments" class="my-div">
          <div class="imgdiv">
            <img src=".\assets\Assignments.png" style="  margin-top: 5%;">
          </div>
          <h3>Assessments</h3>
          <p>Apload <br>assessments</p>
        </div>
      
        <div routerLink="evaluations" class="my-div">
          <img src=".\assets\Eva.png" style="width: 250px; height: 330px; margin-top: 18%;">
          <h3 style="margin-top: 4.5%; margin-bottom: 1%;" >Analytics</h3>
          <p>Internship experience <br>analyses</p>
        </div>
  </div>
  <img  class = "footerimg"src="../../../assets/footer 1.png" alt="" />
</body>
