.main{
    margin-left: 15%;
    /* font-family: 'Montserrat' */
}
.header{
    text-align: center;
 }

.message{
    text-align: center;
    margin-top: 30vh;
    display: flex;
    margin-left: 30%;
}
h3{
    margin-top: 2.5%;
    margin-left: 1%;
}