<div class="main">
    <div class="header">
        <h3>System Support</h3>
    </div>
    <div class="sytemSupp">
        <div class="container">
            <label>Contact information: (011) 234 567 898</label><br><br>
            <label>Address: willenvironmentsupport@tut.domain</label><br><br>
            <label>Send a query:</label><br><br>
            
             <textarea name="" id="" cols="130" rows="30"></textarea><br>
             <input type="button" value="Send Query">
        </div>
       
    </div>
</div>
