<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <app-sidenav></app-sidenav>
    <div class="heading">
        <h1>Life as an intern</h1>
    </div>
    
    <app-topnav></app-topnav>
    <div class="main">
        <div class="header">
              <h2>Log Entries</h2>
        </div>

       
        <br><br>
        <br><br>
        
        

        <div class="package" >
                <img src=".\assets\question.png" alt=""class="tick" >

            <div class="paragraphs">
                <p>Excited for the future?</p><br>
                <p>Log that event on an opened logbook</p><br>
           
            </div>
        </div>
    </div>

    <br><br>
    <br><br>
    <br><br>

    <button class="button" routerLink="/log-entries">Log Entry</button>

    <br><br>
    
    <div class="footer">
       
        <img  src="../../../assets/footer_1.png" alt="" style="margin-bottom: 0; margin-left: 40% "/>  
    </div>


