


<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width0">
<style>



</style>
</head>
<body>


<app-sidenav></app-sidenav>

<div class="content">
  <h2>Work Integrated Learning Environment</h2>
  <h3>Recommendation Letter</h3>
  <p>You can access your recommendation letter at anytime! </p>
  <p style="margin-left:55px ;">Click the  <span style="color:#FF0000">DOWNLOAD LETTER</span> button below</p>
  <!-- <img src="./assets/tutlogo.png" alt="" id="my-element"> -->
  <button (click)="recLetter()">Download Letter</button>
</div>

<app-footer></app-footer>

</body>
</html>
