.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.heading{
	margin-left: 15%;
    /* font-family: 'Montserrat'; */
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{margin-top: 5%;
    margin-left: 25%;
    /* font-family: 'Montserrat' */
}

.p_info{
    margin-top: 4%;
    margin-left: 15%;
    display: flex;
}

h3{
    text-align: center;
    margin-top: 2%;
    margin-right: 12%;
 }

.p_info h2{
    margin-left: 15%;
}

.p_info button{
    background-color: #fff;
    border-radius: 20px;
}

.my-div {
    background-color:#D9D9D9;
    height: 300px;
    width: 1200px;
    text-align: center;
    border-radius: 15px;
}

  .vl {
    margin-top: 2%;
    border-left: 2px solid darkgrey;
    height: 260px;
    margin-left: 26.5%;
    margin-bottom: 2%;
    
  } 

  .updateworkS{
    margin-left: 8%;
    margin-top: 4%;
    margin-right: 15%;
  }

  .updateMentor{
    margin-top: 4%;
  }
  
  .inviteM{
    background-color: #194EB6;
    color: white;
    border-radius: 15px;
}

.sendbtn{
    text-align: center;
}

input{
    background-color: #0055C9;
    color: white;
    width: 180px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.updateMentor button{
    width: 150px;
}

.updateworkS button{
    width: 200px;
}

.footer{
    margin-left:15.5%;
    margin-top: 6.8%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .heading {
      margin-left: 5%;
    }
  
    .main {
      margin-left: 5%;
    }
  
    .p_info {
      margin-left: 5%;
      flex-direction: column;
    }
  
    h3 {
      margin-right: 5%;
    }
  
    .my-div {
      width: 90%;
      margin-left: 5%;
    }
  
    .vl {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .updateworkS {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .footer {
      margin-left: 5.5%;
    }
  }