<app-sidenav></app-sidenav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
    <div class="header">
        <h1>Placement information</h1>
    </div>
    <div class="my-div">
        <div class="p_info">
            <div class="updateMentor">
                <h2>MENTORS</h2>
                <button routerLink="/addmentor">Edit Mentor</button><br><br>
                <button routerLink="/changementor">Update Mentor</button><br><br>
                <div class="sendbtn">
                    <input type="button" value="INVITE MENTOR">
                 </div>
            </div>
            <div class="vl"></div>
            <div class="updateworkS">
                <h2>WORKSTATION/DIVISION</h2>
                <button routerLink="/addwork">Edit/Add Workstation</button><br><br>
                <button routerLink="/changework">Update Workstation</button><br><br>
                
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
</div>


