body{
    font-family: "Montserrat";
  }

  h2{
    font-size: 2vw;
    font-weight: bold;
    /* padding-left: 10%; */
    color: rgb(87, 85, 85);
    text-shadow: 2px 2px 4px rgb(87, 85, 85);
    margin-left: 25%;
    margin-top: 2%;

  }
  .content {
      margin-left: 5%;
      padding: 5%;
      
    }
    
    
    .content h3 {
      font-size: 1.5vw;
      margin-top: 2vh;
      margin-bottom: 4vh;
      margin-left: 19%;
      padding: 1vw;
      padding-left: 2vw;
      width: 22%;
      border-radius: 2vw;
      background-color: #D9D9D9;
    }
    
    .content svg{
        margin-top: 6vh;
        margin-left: -6%;
    
      }

      .content p{
        margin-top: -11vh;
        margin-left: 8%;
        font-size: 1.5vw;
        
    
      }
   
     
    
    .content img{
      position:fixed ;
      bottom: 0;
      right: 0;
      width: 70%;
    }
    
   

     /* Responsive Styles */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 4vw;
    margin-left: 25%;
    margin-top: 10%;
  }

  .content h3 {
    font-size: 3vw;
    margin-left: 21%;
    width: 32%;
    margin-top: -10%;
  }

  .content p {
    font-size: 3vw;
    margin-left: 0;
  }

  .content img {
    width: 100%;
    position: static;
  }
}