body{
  font-family: "Montserrat";
}
.content {
    margin-left: 5%;
    padding: 5%;
    
  }
  
  .content h2 {
    font-size: 2vw;
    /* padding-left: 10%; */
    color: rgb(87, 85, 85);
  }
  
  .content h3 {
    font-size: 1.5vw;
    margin-top: 10vh;
    margin-bottom: 4vh;
    margin-left: 3%;
    padding: 1vw;
    padding-left: 4vw;
    width: 50%;
    border-radius: 2vw;
    background-color: #D9D9D9;
  }
  
  .content p {
    font-size: 1.5vw;
    margin-top: 8vh;
    margin-left: -8%;
  }
  
  .content h4{
    margin-left: 4%;
    font-weight: 200;
  }


  
  
  .content button {
    margin-top: 5vh;
    margin-left: 20%;
    margin-bottom: 30vh;
    width: 15%;
    /* height: 4vw; */
    font-size: 2vw;
    border-radius: 31px;
    border: 0ch;
    background-color: #0055c9;
    color: white;
     /* padding: 0.5vw; */
  }
  /*  */
  .custom-file {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .custom-file-input {
    position: absolute;
    left: -9999px;
  }
  
  .custom-file-label {
    background-color: #0055c9;
    
    border-radius: 31px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    margin-left: 35%;
    margin-top: 6vh;
    width: 110%;
    /* padding: 0.5vw; */
    padding-left: 1vw;
  }
  
  .selected-file-name,
  .upload-message {
    display: block;
    margin-top: 10px;
    margin-left:8% ;
    font-size: 1.5vw;
  }
  
  
  .content img{
    position:fixed ;
    bottom: 0;
    right: 0;
    width: 70%;
  }
  
  @media screen and (max-width: 768px) {
    .content h2 {
      font-size: 4vw;
    }
  
    .content h3 {
      font-size: 3vw;
      padding-left: 2vw;
      width: 80%;
    }
  
    .content p {
      font-size: 3vw;
      margin-left: -5%;
    }
    .p span{
      margin-left: 4%;
    }
    .content h4 {
      margin-left: 2%;
    }
  
    .content button {
      margin-top: 2vh;
      margin-left: 15%;
      margin-bottom: 20vh;
      width: 30%;
      font-size: 4vw;
    }
  
    .custom-file-label {
      font-size: 4vw;
      margin-left: 20%;
      margin-top: 1vh;
      width: 100%;
      padding: 1vw;
    }
  
    .selected-file-name,
    .upload-message {
      margin-left: 20%;
    }
  
    .content img {
      width: 100%;
    }
  }
  