<body>
<app-sidenav></app-sidenav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
   
  </div>
  <div class="col-md-9">
    <div class="content">
      <h2>Work Integrated Learning Environment</h2>
      <h3>Work-Integrated Registration Form</h3>
      <p> Well done! you are now a step closer towards being registered for WIL <br > <span style="margin-left: 30%;">module.</span> <br>
        Now, please  <span style="color: #0055C9">UPLOAD PLACEMENT LETTER </span>document in .pdf extension.</p>
     
        <!-- <label for="inputField" class="btn btn-info">Try me</label> -->
       <!-- <input type="file" class="custom-file-input" id="inputField" (change)="onFileSelected($event)" />
       <label for="fileInput" class="custom-file-label">Submit</label>
       <button (click)="uploadFile()">upload </button> -->
      
       <div class="custom-file">
        <input type="file" id="inputField" (change)="onFileSelected($event)" hidden />
        <label for="inputField" class="custom-file-label">Upload Document</label>
      </div><br>
      <span *ngIf="message" class="error-message" >{{ message }}</span>
      <span *ngIf="selectedFile" class="selected-file-name">Selected Document: {{ selectedFile.name }}</span>
      
      <div class="upload-button">
        <button (click)="uploadFile()">Next</button>
      </div>
      
    
        <img  src="../../../assets/footer 1.png" alt=""/>
    
    </div>
   
    
  </div>
  </div>
  </div>
</body>
 
