<!-- <app-sidenav></app-sidenav>

<div class="content">
    <h2>Work Integrated Learning Environment</h2>
    <h3>Work-Integrated Registration Form</h3>
    <p>If you are completing this form, note that a copy of the placement</p>
    <p>letter should be attached. This is a prerequisite for WIL registration.</p>
    <button>Download Letter</button>
  </div> -->


  <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width0" />
    <style>
      
    </style>
  </head>
  
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-md-9">
    <div class="content">
      <h2>Work Integrated Learning Environment</h2>
      <h3>Work-Integrated Registration Form</h3>
      <p> Well done! you are now a step closer towards being registered for WIL module.<br>
        Now, please  <span style="color: #0055C9">UPLOAD PLACEMENT LETTER </span>document in .pdf extension.</p>
     

    
      <button routerLink="/ep-information">Complete the form </button>
      
    
        <img  src="../../../assets/footer 1.png" alt=""/>
    
    </div>
   
    
  </div>
  </div>
  </div>
  </body>
</html>

