
<app-wil-topnav></app-wil-topnav>
<div class = "main" style="background-color: #F3F0F0; height: 650px; border-radius: 15px; ">
    <div >
        <h3>Introduction</h3>
        <p>The Department of Co-operative Education is responsible for the management of work integrated learning 
            at the University. <br><br>
    
            The WIL Portal generates Operational System Alerts to remind all Users of the tasks that are due. If a User  
            ignores any deadlines, the Portal generates Supervisory System Alerts for the <br>
              attention of the Management of Co-operative Education.
        </p>
        <h3 class="intergratedH">The Work Integrated Learning Portal</h3>
        <p>
            The University Work Integrated Learning Portal facilitates the management of work integrated 
            learning by providing an online interface between the Department of Cooperative Education,<br> the 
            Academic Departments, University Academics, Employers, Mentors and Students.
        </p>
        <h3>Employer</h3>
        <p>
            The Employer assigns a Mentor to supervise, guide and coach the students during their work integrated learning experience at the workplace. <br><br>
    
    The Work Integrated Learning Portal a user friendly management system that provides online access to  Employers and Mentor to manage students engaged in work integrated learning. <br>
    
    The Mentor and the Academic Assessor collaborates in the assessment of the student's performance. <br> The Mentor can monitor and assess the student's progress and provide feedback to the Academic Assessor and Student.
        
        </p>
        <h3>Student</h3>
        <p>
            Students have online access to continuously submit progress reports and upload supporting documents, conduct self assessments and provide feedback to the Mentors and Academic Assessors in real time. <br>
    
            The student can view in real time, all the Mentor's and Academic Assessor's comments and assessment of tasks completed by the student.
        </p>
    </div>
</div>
<img  class = "footerimg"src="../../../assets/footer 1.png" alt="" />