body {
  font-family: "Montserrat";
}

.heading {
  margin-left: 15%;
}

.heading h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h3,
h4 {
  text-align: center;
  margin-top: 2%;
}

label {
  margin-top: 1%;
}

.container {
  margin-top: 2%;
}

p {
  text-align: center;
}

.footerimg {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
}

.submitbtn {
  text-align: center;
}

.submitbtn button {
  background-color: #0055C9;
  color: white;
  width: 280px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .heading {
    margin-left: 5%;
  }

  .heading h1 {
    text-shadow: none;
  }

  h3,
  h4 {
    margin-left: 5%;
    margin-right: 5%;
  }

  label {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  p {
    margin-left: 5%;
    margin-right: 5%;
  }

  .footerimg {
    width: 100%;
    position: static;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
