<app-wil-topnav></app-wil-topnav>
<div class="main">
    <div class="header">
        <h3>System Support</h3>
    </div>
    <h4 style="color: #FFB300;">Information</h4>
    <div class="sytemSupp">
    <div class="container">
        <p>
            If you have any issues related to the system, <br> 
            please send your inquiry, and a support agent will provide you 
            with better advice.
        </p>
        <label>Contact information: (011) 234 567 898</label>
        <label>Address: willenvironmentsupport@tut.domain</label>
        <label>Send a query:</label>
        
        <textarea id="queryMessage" cols="160" rows="10" placeholder="WRITE YOUR QUERY HERE (if there is any!)" [(ngModel)]="query"></textarea><br>
        
        <div style="margin-top: 2%; margin-bottom: 4%;" class="submitbtn">
            <button type="submit" routerLink="/wilQuery" (click)="submitQuery()" *ngIf="query.trim() !== ''">Submit Query</button>
        </div>
    </div>
    <img class = "footerimg"src="../../../assets/footer 1.png" alt="" />
</div>
