<nav class="navbar navbar-expand-lg ">
    <div class="d-flex justify-content-end"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" >
            <a class="nav-link" routerLink = "/admin-home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/mentee_list" routerLinkActive="active">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="width: 65%;" routerLink = "/admin-sys-support" routerLinkActive="active">System Support</a>
          </li>

            
          
        </ul>
      </div>
    </nav>
    
  
