body{
    font-family: 'Montserrat';
}

.main {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 2%;

}

.instr{
    display: flex;
}

 

.report{
    border-color: black;
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right:  solid 1px;
}

ol{
    font-style: italic;
    font-size: larger;   
}

.back{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.back svg{
    cursor: pointer;
}

.back h4{
    margin-top: 6.5px;
    margin-left: 3px;
}

.footerimg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70%;
    margin-top: 3%;
  }