<body>
<app-wil-topnav></app-wil-topnav>
    <div class="main">
    <div class="instr">
    <h4 style="color: #FFB300;">Profile of:</h4><h4 style="color: black; margin-left: 1%;">{{studentNo}}  {{initials}} {{surname}}</h4>

    </div>
    <h4 style="color: #FFB300;">Instructions</h4>
    <h4>Please read the evaluation below</h4>
    <h4 style="color: #FFB300;">Co-Worker Evaluation</h4>
    <div class="report" style="background-color: whitesmoke; height: 500px;">
            <ol *ngFor="let data of co_evadata">
                <li>Was your immediate supervisor of assistance in your developing an effective relationship with co-workers?</li>
                <b>{{data.coworkerAssistance}}</b>
                <li>Did he/she appear interested in you as an individual?</li>
                <b>{{data.coworkerInterest}}</b>
                <li>Did he/she give or provide for adequate training?</li>
                <b>{{data.coworkerTraining}}</b>
                <li>Did he/she motivate you to improve yourself?</li>
                <b>{{data.coworkerMotivation}}</b>
                <li>Did you receive adequate instruction or assistance from your supervisor in the conduct of your work?</li>
                <b>{{data.coworkerInstruction}}</b>
            </ol>
    </div>
    <div class="back">
        <svg
              xmlns="http://www.w3.org/2000/svg"
              style="color: #12c556"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-check-circle-fill"
              viewBox="0 0 16 16"
              routerLink="/StudentActivities"
              
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
    <h4 style="text-align: center; cursor: pointer;margin-bottom: 15%" routerLink="/StudentActivities">Back to Student</h4>
    </div>
    <img  class = "footerimg"src="../../../assets/footer 1.png" alt="" />
    </div>
</body>
