<body>
  
  <div class="main">
    <div class="top_nav" id="myTopnav">
        <a routerLink="/Home"  routerLinkActive="active-link">Home</a>
        <a routerLink="/Regulations" routerLinkActive="active-link">Regulations</a>
        <a routerLink="/Placement Information" routerLinkActive="active-link">Placement Information</a>
        <a routerLink="/Activities" routerLinkActive="active-link">Activities</a>
        <a routerLink="/System Support" routerLinkActive="active-link">System Support</a>
      </div>
  </div>
</body>