
<form>
  <div class="top">
      <img src="./assets/logoTUTC.png" alt="">
      <h2 class="formtype">REGISTATION FORM FOR <br> Work Intergrated Learning(WIL)</h2>
  </div>
  <fieldset>
      <h3 style="font-style: bold;">INSTRUCTIONS</h3>
      <P>
          This form must be completed in full and CAPITAL LETTERS 
          A copy of the placement latter should be attached. This is a prerequisite
          for WIL registration.
      </P>
  </fieldset>
  <h2>EMPLOYER PLACEMENT INFORMATION(Please complete in full)</h2>
  <input type="text" placeholder="Name Of approved employer"><br>
  <input type="text" placeholder="Company's contact person"><br>
  <input type="text" placeholder="Company's telephone number"><br>
  <input type="text" placeholder="Email Address"><br>
  <input type="text" placeholder="Physical Address where training takes place"><br>
  <input type="text" placeholder="Postal Address where training takes place"><br>
  <input type="text" placeholder="City">
  <input class="pcode" type="text" placeholder="Postal Code">

  <h2 class="pOfStudy">Period Of study WIL(Please tick applicable block)</h2>
  <table style="width: 50%;">
      <tr>
        <th style="width: 11%;">PERIOD</th>
        <th style="width: 2%;">Tick</th>
        <th style="width: 11%;">LAST DATE FOR WILL REPORT TO BE SUBMITTED</th>
      </tr>
      <tr>
        <td>January - June</td>
        <td><input type="checkbox"></td>
        <td>31 July</td>
      </tr>
      <tr>
          <td>February - July</td>
          <td><input type="checkbox"></td>
          <td>31 August</td>
      </tr>
      <tr>
          <td>March - August</td>
          <td><input type="checkbox"></td>
          <td>30 September</td>
      </tr>
      <tr>
          <td>April - September</td>
          <td><input type="checkbox"></td>
          <td>31 October</td>
      </tr>
      <tr>
          <td>May - October</td>
          <td><input type="checkbox"></td>
          <td>30 November</td>
      </tr>
      <tr>
          <td>June - November</td>
          <td><input type="checkbox"></td>
          <td>15 Junuary</td>
      </tr>
      <tr>
          <td>July - December</td>
          <td><input type="checkbox"></td>
          <td>31 Junuary</td>
      </tr>
      <tr>
          <td>August - January</td>
          <td><input type="checkbox"></td>
          <td>28 February</td>
      </tr>
      <tr>
          <td>September - February</td>
          <td><input type="checkbox"></td>
          <td>31 March</td>
      </tr>
      <tr>
          <td>October - March</td>
          <td><input type="checkbox"></td>
          <td>30 April</td>
      </tr>
      <tr>
          <td>November - April</td>
          <td><input type="checkbox"></td>
          <td>31 May</td>
      </tr>
      <tr>
          <td>December - May</td>
          <td><input type="checkbox"></td>
          <td>30 June</td>
      </tr>
      <tr>
          Other: Indicate the specific period of study e.g 1st and/or 2nd semester(Only applicable for faculties
          of the Arts, Humanities, Managament sciences and Economic)
      </tr>
    </table>

    <h3 style="font-style: bold;">DECLARATION:</h3>
    <p>
        I Declare that all information i have provided on this form is correct and I undertake to
        abide by the rules, regulations(Prospectus part 1- ch 5 of the student rules and regulations) and decisions
        of the Tshwane University of Technology, as well as any amendments applicable of students in general.
        Should I be registered incorrectly as a result of incorrect information that I provided, I accept full responsibility.
    </p>
  <input type="text" placeholder="Signature: Student">
  <input class ="date" type="date" placeholder="Date"><br>
  <label>Approved</label><input type="checkbox"><input type="checkbox" placeholder="no">
  <fieldset class="aploadL">
    <label>Employment Letter</label><input class="btnApload" type="file">
  </fieldset>

  
</form>