body{
    font-family: "Montserrat";
  }

.container{
    margin: 0;
}

 img{
    width:35%
}

.heading h2{
    font-size: 2vw;
    font-weight: bold;
    /* padding-left: 10%; */
    color: rgb(87, 85, 85);
    text-shadow: 2px 2px 4px rgb(87, 85, 85);
    /* margin-left: 60%; */
    margin-left: 50%;
    margin-top: 2%;
    margin-bottom: 3%;

  }


h3 {
    font-size: 1.2vw;
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin-left: 2%;
    
   
  }
  p{
    margin-left: 2%;
    font-size: 1.1vw;
  }

  h1{
    margin-left: 2%;
    font-size: 1.2vw;
    margin-top: -1%;
    margin-bottom: 2%;
  }


 

  .form-label label{
    margin-left: 2%;
    background-color: #F5F3F3;
    width:25%;
    font-size: 1.1vw;
    padding: 2%;
    border-right:1px solid rgb(49, 48, 48);
    
  }
  .form-input{
    margin-top: -41%;
    /* margin-top: -37.8%; */
    margin-left: 27%;
    width: 95%;
  }
  .form-input input{
    
    
    font-size: 1.1vw;
    padding: 2.2%;
    border: none;
    outline: none;
    border-bottom: 1px solid #D9D9D9;
    width:100%
  }
  h4{
    margin-top: 12%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .form-period{
    
    margin-top: -7%;
    /* margin-top: -6.6%; */
    margin-left: 27%;
    width: 98%;
    
   
    
  }
  .form-period input{
    border: none;
    outline: none;
    border-bottom: 1px solid #D9D9D9;
    width:96%;
    font-size: 1.1vw;
    padding: 2%;
  }

.file h1{
  margin-left: 2%;
  background-color: #F5F3F3;
  width:25%;
  font-size: 1.1vw;
  padding: 2%;
  border-right:1px solid rgb(49, 48, 48);
}

.file p{
  margin-top: -10.3%;
  /* margin-top: -9.9%; */
    margin-left: 27%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D9D9D9;
  width:94%;
  font-size: 1.1vw;
  padding: 2%;
}
.download {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-top: -7%;
  /* margin-top: -6%; */
  width: 90vw;
  
}

button{
  width: 18vw;
  margin-left: 130vh;
  /* margin-left: 155vh; */
  padding: 0.8vw;
  font-size: 1.1vw;
  border-radius: 2vw;
  border: none;
    background-color: #D9D9D9;
}

.admission h3{
  margin-top: 10%;
}

.choice h1{
  margin-top: 4%; 
}
.choice h2{
  margin-left: 2%;
  background-color: #F5F3F3;
  width:25%;
  font-size: 1.1vw;
  padding: 2%;
  border-right:1px solid rgb(49, 48, 48);
}
.choice p{
  margin-top: -7.1%;
  /* margin-top: -6.6%; */
    margin-left: 27%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D9D9D9;
  width:94%;
  font-size: 1.1vw;
  padding: 2%;
}

/*  */
.class h1{
  margin-top: 4%;
}

.class h2{
  margin-left: 2%;
  background-color: #F5F3F3;
  width:25%;
  font-size: 1.1vw;
  padding: 2%;
  border-right:1px solid rgb(49, 48, 48);
}
.class p{
  margin-top: -7.1%;
  /* margin-top: -6.6%; */
    margin-left: 27%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D9D9D9;
  width:94%;
  font-size: 1.1vw;
  padding: 2%;
}
/*  */
.campus h1{
  margin-top: 4%;
}
.campus h2{
  margin-left: 2%;
  background-color: #F5F3F3;
  width:25%;
  font-size: 1.1vw;
  padding: 2%;
  border-right:1px solid rgb(49, 48, 48);
}
.campus p{
  margin-top: -7.1%;
  /* margin-top: -6.6%; */
    margin-left: 27%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D9D9D9;
  width:94%;
  font-size: 1.1vw;
  padding: 2%;
}
/*  */
.finacial h1{
  margin-top: 4%;
}
.finacial h2{
  margin-left: 2%;
  background-color: #F5F3F3;
  width:25%;
  font-size: 1.1vw;
  padding: 2%;
  border-right:1px solid rgb(49, 48, 48);
}
.finacial p{
  margin-top: -7.1%;
  /* margin-top: -6.6%; */
    margin-left: 27%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D9D9D9;
  width:94%;
  font-size: 1.1vw;
  padding: 2%;
}
/*  */
.declaration {
  margin-bottom: 10%;
}
.signed h1{
  margin-top: 4%;
}
.signed h2{
  margin-left: 2%;
  background-color: #F5F3F3;
  width:25%;
  font-size: 1.1vw;
  padding: 2%;
  border-right:1px solid rgb(49, 48, 48);
}
.signed p{
  margin-top: -7.1%;
    margin-left: 27%;
  border: none;
  outline: none;
  border-bottom: 1px solid #D9D9D9;
  width:94%;
  font-size: 1.1vw;
  padding: 2%;
}
.approve{
  width: 7vw;
  margin-top: 8%;
  margin-left: 2%;
}
.approve button{
  margin-top: 8%;
  margin-left: 2%;
  width: 7vw;
  border-radius: 2vw;
  border: none;
  background-color: #55B75E;
  color: white;
}
.parent-container .modal-dialog {
  max-width: 35vw; 
  margin-top: 25vh;
 
  border-radius: 8vw;
}

.modal-dialog {
  max-width: 35vw; 
  margin-top: 25vh ;
  border-width: 8vw;
  border-color: aqua;
  box-shadow: 2px 2px 4px rgb(87, 85, 85);
}
.modal-title{
margin-left: 20vh;
color: #55B75E;
font-weight: bold;
font-size: 1.5vw;
}
.app-stud{
  font-weight: bold;
  margin-left: 15vh;
  margin-top: 1vh;
}

.app-stud span{
  margin-left: 12vh;
}

.app-info{
  margin-top: 2vh;
  margin-left: 8vh;
}
.app-info span{
  
  margin-left: 18vh;
}

.modal-header,
.modal-footer {
  border: none; 
}

.modal-footer{
  margin-top: -4vh;
  margin-bottom: 4vh;
 
}


.modal-footer button:nth-child(1) {
  background-color:#CC3250;
  color: white;
  padding: 0.5vw;
  margin: 0;
  width: 6vw;
  margin-right: 30vh;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

.modal-footer button:nth-child(2) {
  background-color:#55B75E;
  color: white;
  padding: 0.5vw;
 margin: 0;
 width: 6vw;
 margin-right: 10vh;
 margin-bottom: 4vh;
 margin-top: 4vh;
}

.modal-body2 svg{
  margin-left: 8vh;
  margin-top: 6vh;
}
.modal-body2 p{
  margin-left: 32vh;
  margin-top: 4vh;
}

.modal-footer2 button{
  background-color:#55B75E;
  color: white;
  padding: 0.5vw;
 margin: 0;
 width: 6vw;
 margin-left: 41vh;
 margin-bottom: 8vh;
 margin-top: 2vh;
}



.reject{
  
  margin-top: -5vh;
}
.reject button{
  margin-top: -14vh;
  margin-left: 18%;
  width: 7vw;
  border-radius: 2vw;
  border: none;
  background-color: #CC3250;
  color: white;
}
.footer img{
  position:fixed ;
  bottom: 0;
  right: 0;
  width: 70%;
}

.modal {
  display: none;
  /* Additional styling for the modal */
}

.modal-visible {
  display: block;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
  img {
    width: 80%;
  }

  .heading h2 {
    font-size: 4vw;
    margin-left: 10%;
  }

  h3 {
    font-size: 4vw;
    margin-left: 2%;
  }

  p {
    font-size: 3.5vw;
    margin-left: 2%;
  }

  h1 {
    font-size: 3.5vw;
    margin-left: 2%;
  }

  .form-label label {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .form-input {
    margin-top: -45%;
    margin-left: 10%;
    width: 95%;
  }

  .form-input input {
    font-size: 3.5vw;
    padding: 5%;
  }

  h4 {
    margin-top: 12%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 4vw;
  }

  .form-period {
    margin-top: -7%;
    margin-left: 10%;
    width: 98%;
  }

  .form-period input {
    font-size: 3.5vw;
    padding: 5%;
  }

  .file h1 {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .file p {
    margin-top: -10.3%;
    margin-left: 10%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .download {
    margin-top: -7.5%;
    width: 90vw;
  }

  button {
    width: 30vw;
    margin-left: 10vh;
    padding: 2.5vw;
    font-size: 3.5vw;
    border-radius: 2vw;
  }

  .admission h3 {
    margin-top: 10%;
    font-size: 4vw;
  }

  .choice h1 {
    margin-top: 4%;
    font-size: 3.5vw;
  }

  .choice h2 {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .choice p {
    margin-top: -7.1%;
    margin-left: 10%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .class h1 {
    margin-top: 4%;
    font-size: 3.5vw;
  }

  .class h2 {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .class p {
    margin-top: -7.1%;
    margin-left: 10%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .campus h1 {
    margin-top: 4%;
    font-size: 3.5vw;
  }

  .campus h2 {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .campus p {
    margin-top: -7.1%;
    margin-left: 10%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .finacial h1 {
    margin-top: 4%;
    font-size: 3.5vw;
  }

  .finacial h2 {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .finacial p {
    margin-top: -7.1%;
    margin-left: 10%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .declaration {
    margin-bottom: 10%;
    font-size: 3.5vw;
  }

  .signed h1 {
    margin-top: 4%;
    font-size: 3.5vw;
  }

  .signed h2 {
    width: 80%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .signed p {
    margin-top: -7.1%;
    margin-left: 10%;
    font-size: 3.5vw;
    padding: 5%;
  }

  .approve {
    width: 20vw;
    margin-top: 8%;
    margin-left: 2%;
  }

  .approve button {
    margin-top: 8%;
    margin-left: 2%;
    width: 20vw;
    border-radius: 2vw;
    padding: 2.5vw;
    font-size: 3.5vw;
  }

  .parent-container .modal-dialog {
    max-width: 80vw;
    margin-top: 15vh;
    border-radius: 8vw;
  }

  .modal-dialog {
    max-width: 80vw;
    margin-top: 15vh;
    border-width: 8vw;
    box-shadow: 2px 2px 4px rgb(87, 85, 85);
  }

  .modal-title {
    margin-left: 10vh;
    font-size: 4vw;
  }

  .app-stud {
    font-weight: bold;
    margin-left: 8vh;
    margin-top: 1vh;
    font-size: 3.5vw;
  }

  .app-stud span {
    margin-left: 6vh;
  }

  .app-info {
    margin-top: 2vh;
    margin-left: 4vh;
  }

  .app-info span {
    margin-left: 9vh;
  }

  /* .modal-footer {
    margin-top: -6vh;
    margin-bottom: 4vh;
  }

  .modal-footer button:nth-child(1) {
    margin-right: 16%;
    padding: 1.5vw;
    width: 15vw;
    font-size: 3.5vw;
  }

  .modal-footer button:nth-child(2) {
    margin-right: 10%;
    padding: 1.5vw;
    width: 15vw;
    font-size: 3.5vw;
  } */

  .reject {
    margin-top: -4.5vh;
  }

  .reject button {
    margin-top: -14vh;
    margin-left: 10%;
    width: 20vw;
    border-radius: 2vw;
    padding: 2.5vw;
    font-size: 3.5vw;
  }

  .footer img {
    width: 90%;
  }
}



