<div class="navbar">
     <h2>{{title}}</h2>     
</div>
---------
ITS 
---------
<div class="its">
    <div class="w3-card-4" style="margin-top:10px;">
        <div class="w3-center" id="bioImage">
         <img src="wl14pkg.showStudentImage?x_stno=219192061&amp;x_chk=E3CA56F0D0EE3B489B21066442E12D4CE3586C88">
        </div>
      <table class="w3-table-all w3-medium hide-small">
      </table><table class="w3-table-all w3-small hide-medium hide-large">
      <tbody><tr><th colspan="2">Student</th></tr>
      <tr><th>Student&nbsp;Nbr</th><td></td></tr>
      <tr><th>Gender</th><td>Male</td></tr>
      <tr><th>Birthdate</th><td></td></tr>
      <tr><th>ID&nbsp;Nbr</th><td></td></tr>
      <tr><th>Marital&nbsp;Status</th><td>Single</td></tr>
      <tr><th>Home&nbsp;Lang</th><td>OTHER</td></tr>
      <tr><th>Citizenship</th><td>RSA (SOUTH AFRICA)</td></tr>
      <tr><td colspan="2">
       <div class="w3-tag w3-round w3-blue" style="padding:3px">
        <div class="w3-tag w3-round w3-blue w3-border w3-border-white">Email Address</div>
       </div>
       <div><a href="mailto:twalat21@gmail.com">name@gmail.com</a></div>
      </td></tr>
      <tr><td colspan="2">
       <div class="w3-tag w3-round w3-blue" style="padding:3px">
        <div class="w3-tag w3-round w3-blue w3-border w3-border-white">Cellphone</div>
       </div>
       <div></div>
      </td></tr>
      <tr><td colspan="2">
       <div class="w3-tag w3-round w3-blue" style="padding:3px">
        <div class="w3-tag w3-round w3-blue w3-border w3-border-white">Postal Address</div>
       </div>
       <div></div>
      </td></tr>
      <tr><td colspan="2">
       <div class="w3-tag w3-round w3-blue" style="padding:3px">
        <div class="w3-tag w3-round w3-blue w3-border w3-border-white">Study Address</div>
       </div>
       <div></div>
      </td></tr>
      </tbody></table>
      <table class="w3-table-all w3-medium hide-small">
      </table><table class="w3-table-all w3-small hide-medium hide-large">
      <tbody><tr><td colspan="2">
       <div class="w3-tag w3-round w3-blue" style="padding:3px">
        <div class="w3-tag w3-round w3-blue w3-border w3-border-white">Current Balance</div>
       </div>
      </td></tr>
      <tr><th>You owe the institution: </th><td>0,00</td></tr>
      </tbody></table>
      &nbsp;
       </div>
</div>
--------------------------------------------------------
