<div class="navbar">
     <h2>{{title}}</h2>     
</div>
---------
ITS 
---------
<div class="flexDp">
  <div class="maintable">
    <div class="w3-row">
      <div class="w3-third w3-container">
       <div class="w3-card-4" style="margin-top:10px;">
        <div class="w3-center" id="bioImage">
         <img src="wl14pkg.showStudentImage?x_stno=219192061&amp;x_chk=E0E0042DE3CC9294688B8880E2449E9167495041">
        </div>
        <table class="w3-table-all w3-small hide-medium hide-large">
        <tbody><tr><th colspan="2">THOBILE, TWALA</th></tr>
        <tr><th>Student&nbsp;Nbr</th><td>219192061</td></tr>
        <tr><th>Gender</th><td>Male</td></tr>
        <tr><th>ID&nbsp;Nbr</th><td>9908285168089</td></tr>
        </tbody></table>
      </div>
      
  
  <div class="w3-twothird flex-menu">
    <div class="w3-tag w3-round w3-light-blue" style="padding:3px; margin-top:5px; width:250px;">
     <div class="w3-tag w3-round w3-light-blue w3-border w3-border-white" style="width:230px;">
      <h6 class="w3-hide-small">School Leaving Information</h6>
     </div>
    </div>
  
   
    <div class="w3-tag w3-round w3-light-blue" style="padding:3px; margin-top:5px; width:250px;">
     <div class="w3-tag w3-round w3-light-blue w3-border w3-border-white" style="width:230px;">
      <h6 class="w3-hide-small">Application Information</h6>
  
     </div>
    </div>
   
    <div class="w3-tag w3-round w3-light-blue" style="padding:3px; margin-top:5px; width:250px;">
     <div class="w3-tag w3-round w3-light-blue w3-border w3-border-white" style="width:230px;">
      <h6 class="w3-hide-small">Registration Information</h6>
     </div>
    </div>
   
  
    <div class="w3-tag w3-round w3-light-blue" style="padding:3px; margin-top:5px; width:250px;">
     <div class="w3-tag w3-round w3-light-blue w3-border w3-border-white" style="width:230px;">
      <h6 class="w3-hide-small">Residence Information</h6>
      
     </div>
    </div>
    <div class="w3-tag w3-round w3-light-blue" style="padding:3px; margin-top:5px; width:250px;">
     <div class="w3-tag w3-round w3-light-blue w3-border w3-border-white" style="width:230px; ">
      <h6 class="w3-hide-small">Financial Information</h6>
     </div>
    </div>
   </div>
</div>


