body{
    font-family: "Montserrat";
  }
.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
    margin-top: 5%;
    margin-left: 15%;
    /* font-family: 'Montserrat' */
}
.header{
    text-align: center;
    align-items: center;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
}

.footerimg{
    position:fixed ;
    bottom: 0;
    right: 0;
    width: 70%;
}
