<div class="heading">
    <h1>Life as an intern</h1>
</div>
<app-sidenav></app-sidenav>
<app-topnav></app-topnav>
<div class="main">
    <div class="header">
        <img src=".\assets\noti_icon.png" style="height: 50px; width: 50px;">
        <h3>Notifications</h3>
    </div>
    <hr>
    <div class="noti1">
        <img src=".\assets\icons8-message-48.png" style="margin-left: 20%;">
    </div>
    <hr>
    <div class="noti1">
        <img src=".\assets\icons8-message-48.png" style="margin-left: 20%;">
    </div>
    <hr>
    <div class="noti1">
    </div>
    <div class="noti1">
        <img src=".\assets\icons8-message-48.png" style="margin-left: 20%;">
    </div>
    <hr>
    <div class="noti1">
        <img src=".\assets\icons8-message-48.png" style="margin-left: 20%;">
    </div>
    <hr>
    <div class="noti1">
        <img src=".\assets\icons8-message-48.png" style="margin-left: 20%;">
    </div>
    <hr>
</div>
<div class="footer">
    <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
</div>


