.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
    margin-top: 5%;
    margin-left: 15%;
    font-family: 'Montserrat'
}
.header{
   text-align: center;
}

.supervison h2{
    text-align: center;
}


.dropbtn{
    background-color: #ffff;
    color: black;
    width: 200px;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 3%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  .eva_btn{
    background-color: #0055C9;
    color: white;
    padding: 10px;
    font-size: 16px;
    margin-left: 2%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .submitbtn button{
    background-color: #0055C9;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 3%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
  }

  .A,.B,.C,.D,.E{
    text-align: center;
  }

  h2{
    background-color: #E7E4E4;
    border-radius: 30px;
    margin-left: 40%;
    margin-right: 40%;
    height: 50px;
  }

  .footer{
    margin-left:15.5%;
    margin-top: 6%;
    bottom: 0;
}
  
  