<div class="heading">
  <h1>Life as an intern</h1>
</div>
<app-sidenav></app-sidenav>
<app-topnav></app-topnav>
<div class="main">
    <div class="header">
        <img src=".\assets\Eva.png" style="height: 50px; width: 50px;">
        <h3>Evaluations</h3>
    </div>
    <div class="supervison"><hr style="align-items: center; margin-left: 15%;margin-right: 15%;">
      <h2>SUPERVISION</h2> 
      
      <div class="QnA">
          <div class="A">
              <p>1. Was your immediate supervisor of assistance in your developing an effective relationship with co-workers?</p>
              <div class="dropdown">
                  <button (click)=myFunction() class="dropbtn">Please select</button><br><br>
                  <div id="myDropdown" class="dropdown-content">
                    <a>FREQUENTLY</a>
                    <a>IF NEEDED</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
              </div>
          </div>

          <div class="B">
              <p>2. Did he/she appear interested in you as an individual?</p>
              <div class="dropdown">
                  <button (click)=myFunctionB() class="dropbtn">Please select</button><br><br>
                  <div id="myDropdown2" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div>
          <div class="C">
              <p>3. Did he/she give or provide for adequate training?</p>
              <div class="dropdown">
                  <button (click)=myFunctionC() class="dropbtn">Please select</button><br><br>
                  <div id="myDropdown3" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div>
          <div class="D">
              <p>4. Did he/she motivate you to improve yourself?</p>
              <div class="dropdown">
                  <button (click)=myFunctionD() class="dropbtn">Please select</button><br><br>
                  <div id="myDropdown4" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div>
          <div class="E">
              <p>5. Did you receive adequate instruction or assistance from your supervisor in the conduct of your work?</p>
              <div class="dropdown">
                  <button (click)=myFunctionE() class="dropbtn">Please select</button><br><br>
                  <div id="myDropdown5" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div> 
      </div>
  </div>
  <hr style="align-items: center; margin-left: 15%;margin-right: 15%;">
  <h2>CO-WORKERS</h2>
  <div class="co-workers">
    <div class="QnA">
      <div class="A">
          <p>1. Was your immediate supervisor of assistance in your developing an effective relationship with co-workers?</p>
          <div class="dropdown">
              <button (click)=myFunctionF() class="dropbtn">Please select</button><br><br>
              <div id="myDropdown6" class="dropdown-content">
                <a>FREQUENTLY</a>
                <a>IF NEEDED</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
          </div>
      </div>
      
      <div class="B">
          <p>2. Did he/she appear interested in you as an individual?</p>
          <div class="dropdown">
              <button (click)=myFunctionG() class="dropbtn">Please select</button><br><br>
              <div id="myDropdown7" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>
      <div class="C">
          <p>3. Did he/she give or provide for adequate training?</p>
          <div class="dropdown">
              <button (click)=myFunctionH() class="dropbtn">Please select</button><br><br>
              <div id="myDropdown8" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>
      <div class="D">
          <p>4. Did he/she motivate you to improve yourself?</p>
          <div class="dropdown">
              <button (click)=myFunctionI() class="dropbtn">Please select</button><br><br>
              <div id="myDropdown9" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>
      <div class="E">
          <p>5. Did you receive adequate instruction or assistance from your supervisor in the conduct of your work?</p>
          <div class="dropdown">
              <button (click)=myFunctionJ() class="dropbtn">Please select</button><br><br>
              <div id="myDropdown10" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>  
  </div>
</div>
<div class="submitbtn">
  <button>Submit Evaluation</button>
</div>
<div class="footer">
  <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
</div>





