<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <app-sidenav></app-sidenav>
    <div class="heading">
        <h1>Life as an intern</h1>
    </div>
    
    <app-topnav></app-topnav>
    <div class="main">
        <div class="header">
              <h2>Log Entries</h2>
        </div>

        <br><br>
        <br><br>
        <br><br>
        
        

        <div class="package" >
                <img src=".\assets\tick.png" alt=""class="tick">

            <div class="paragraphs">
                <p>This month has been submitted and approved</p><br>
                <p>by your mentor, however you can still can</p><br>
                <h3 class="vl_label">VIEW YOUR LOGBOOK</h3>
            </div>
        </div>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <div class="footer">
   <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 43%;"/>
    </div>
