<div class="main">
    <div class="header">
        <img src=".\assets\Assignments.png" style="height: 50px; width: 50px;">
        <h3>Assessments</h3>
    </div>

    <div class="supervison">
        <div class="container">
            <button routerLink="/ass1">Complete Assessments 1</button><br>
        <button routerLink="/ass2">Complete Assessments 2</button><br>
        <input class="git" type="text">
        <h2>upload Git Repository</h2>
        <button class = "apload" style="width: 300px;">Upload system documentation</button>
        </div>
    </div>
</div>



