
.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
    margin-top: 5%;
    margin-left: 15%;
    /* font-family: 'Montserrat' */
}
.header{ 
    align-items: center;
    text-align: center;
    margin-left: 39%;
 }

p{
    margin-top: 10%;
    margin-left: 23%;
}

/*.supervison{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 2.5);
    margin-right: 40%;
}


.container button{
    background-color: #0055C9;
    color: white;
    width: 280px;
    height: 50px;
    font-size: 20px;
    margin-left: 2%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container input{
    margin-top: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.git :focus{
    border: none;
    outline: none;
}

.apload{
    width: 500px; 
}*/

hr{
    margin-left: 15%;
    margin-right: 15%;
}

.logColum{
    margin-top: 4%;
    text-align: center;
}

.logentry label{
    margin-left: 18%;
}

button{
    border: none;
    background-color: white;
}

.container{
    margin-left: 18%;
    margin-top: 2%;
    display: flex;
}
.container button{
    background-color: #0055C9;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 2%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.container input{
    width: 250px;
    height: 50px;
}

.info{
   text-align: center;
}
.info p{
  margin-right: 25%;
   margin-top: 2%;
}
.Hmain{
    display: flex;
}

.back{
    margin-left: 2%;
}

.footer{
    margin-left:15.5%;
    margin-top: 6%;
    bottom: 0;
}