body{
    font-family: "Montserrat";
  }
.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
    margin-top: 5%;
    margin-left: 15%;
    /* font-family: 'Montserrat' */
}
.header{ 
    text-align: center;
    margin-left: 45%;  
 }


p{
    margin-top: 10%;
    margin-left: 23%;
}



hr{
    margin-left: 15%;
    margin-right: 15%;
}

.logColum{
    margin-top: 4%;
    text-align: center;
}

.logentry label{
    margin-left: 18%;
}

button{
    border: none;
    background-color: white;
}

.container{
    margin-left: 18%;
    margin-top: 2%;
    display: flex;
}
.container button{
    background-color: #0055C9;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 2%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.container input{
    width: 250px;
    height: 50px;
}

.info{
   text-align: center;
}
.info p{
  margin-right: 25%;
   margin-top: 2%;
}
.Hmain{
    display: flex;
}

.back{
    margin-left: 2%;
}

.footerimg{
    position:fixed ;
    bottom: 0;
    right: 0;
    width: 70%;
  }