body{
    font-family: "Montserrat";
  }

.container{
    margin: 0;
}

 img{
    width:35%
}

h2{
    font-size: 2vw;
    font-weight: bold;
    /* padding-left: 10%; */
    color: rgb(87, 85, 85);
    text-shadow: 2px 2px 4px rgb(87, 85, 85);
    margin-left: 50%;
    margin-top: 2%;

  }
  .footer{
    margin-top:27% ;
    margin-right:-100% ;
  }

  body{
    font-family: "Montserrat";
    width: 100%;
    overflow-x: hidden;
  }

  .I{
    margin-left:15% ;
  }

  