<body>
    <div class="container">
      <img src="../../../assets/logoTUTC.png" alt="" />
      <div class="heading">
        <h1>Life as an intern</h1>
    </div>
    <app-admin-navbar></app-admin-navbar>
    <div class="everything">
        <div class="header">
            <h3 style="font-family: 'Montserrat'">Intern Activities</h3>
        </div>
    <div>
        <p class="men">Profile of: </p> 
    </div>

    <div>
        <p class="inst">Instruction:
        </p>
        <p>Please reviev the following instruction for approving or rejecting the log entry:</p>
        <p>To ensure that the above entry aligns with the activities the interns participated in, please follow the steps below:</p>
        <p>1. Approve: If the entry  accurately reflects the activities carried out by the intern this month,
            <br>
            <br>
            Press: "Approve."
            <br>
            This indicates that the entry is in line with their documented activities.</p>
            <br>
            <p>2. Reject: If the  does not entry  accurately reflects the activities carried out by the intern this month,
                <br>
                <br>
                Press: "Reject."
                <br>
                This indicates that the entry is not in line with their documented activities.</p>

        
    </div>