<body> 
 <app-wil-topnav></app-wil-topnav>
   <div class="Header">
      <h4>Assessments</h4>
   </div>
   <div class="main">
      <div class="instr">
         <h4 style="color: #F5002F;">Instruction:</h4>
         <h4> You have the option to apload assignments that your interns can complete.</h4>
      </div>
      <div class="View_aploaded">
         <button>View Uploaded Assignments</button>
      </div>
      <div class="Assignment apload">
               <label style="font-size: larger;">Assignment Title</label><br>
               <input type="text" style="width: 388px;"><br>
               <label style="font-size: larger;">Assignment Description</label><br>
               <textarea name="" id="" cols="50" rows="8"></textarea><br>
               <label style="font-size: larger;">Apload File</label><br>
               <input type="file"><br>
      </div>
      <div class="aploadAss">
         <button>Apload Assignment</button>
      </div>
      <img  class = "footerimg"src="../../../assets/footer 1.png" alt="" />
   </div>
</body>