<body>
  <app-sidenav></app-sidenav>
<div class="heading">
  <h1>Life as an intern</h1>
</div>

<app-topnav></app-topnav>

<div class="main">
    <div  routerLink="/Notifications" class="my-div">
        <img src=".\assets\noti_icon.png" style="width: 250px; height: 300px; margin-top: 22%;">
        <h3 style="margin-top: 8%;">Notifications</h3>
        <p>Check messages <br>and reminders</p>
      </div>
    
      <div routerLink="/log-entries" class="my-div">
        <img src=".\assets\log_entry.png" style="width: 225px; height: 250px; margin-top: 25%;">
        
        <h2 style="margin-top: 20%;" >Log Entries</h2>
        <p>Record events, <br>actions or changes</p>
      </div>
    
      <div routerLink="/assessments" class="my-div">
        <div class="imgdiv">
          <img src=".\assets\Assignments.png" style="  margin-top: 5%;">
        </div>
        <h3>Assessments</h3>
        <p>Complete <br>assessments</p>
      </div>
    
      <div routerLink="/evaluations" class="my-div">
        <img src=".\assets\Eva.png" style="width: 250px; height: 330px; margin-top: 18%;">
        <h3 style="margin-top: 4.5%; margin-bottom: 1%;" >Evaluation</h3>
        <p>Assess value, quality <br>and performance</p>
      </div>
</div>
<!-- <div class="footer">
  <img  src="../../../assets/footer_1.png" alt="" style="margin-left: 27.3%; margin-bottom: 0;"/>
</div> -->
</body>