
.heading{
	margin-left: 15%;
}

.heading h1{
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main{
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 3%;
    font-family: 'Montserrat'
}
.my-div {
  
  background-color:#D9D9D9;
  height: 500px;
  width: 370px;
  text-align: center;
  margin-left: 4%;
  border-radius: 15px;
}

.imgdiv{
  margin-top: 5%;
}

.my-div a{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 5%;
}

.footer{
  margin-left:15.5%;
  margin-top: 0.8%;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .heading {
    margin-left: 5%;
  }

  .main {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .my-div {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .my-div a {
    float: none;
    margin-left: 0;
  }

  .footer {
    margin-left: 5.5%;
  }
}


  