
<div class="main">
    <img class="gif_file" src=".\assets\lIFE AS AN iNTERN.gif">

    <div input class="loginForm">
    
        <h2>Sign in</h2>
        <img class="user-icon" src="../../../assets/user.svg">
        <input class="user" type="text" id="username" placeholder="Username">
    
        <img class="pass-icon" src="../../../assets/lock.svg">
        <input class="pass" type="text" id="username" placeholder="Password">
        <img class="eye-icon" src="../../../assets/eye.svg">
        <p>Forgot Password?</p>
        <button class="btn">Login</button>  
    
    </div>
</div>