<body>
<div class="heading">
    <h1>Life as an intern</h1>
</div>
<app-sidenav></app-sidenav>
<app-topnav></app-topnav>
<div class="main">
    <div class="header">
        <div class="back">
            <img src=".\assets\icons8-back-arrow-64.png" alt="">
        </div>
        <img src=".\assets\Assignments.png" style="height: 50px; width: 50px;">
        <h3>Assessments</h3>
    </div>
    <div class="assH">
        <h2>Assessments no: 1</h2>
    </div>
    
    <div class="supervison">

        <h2>The Organization</h2><hr style="align-items: center; width: 250px;"> 
        <p>
            The purpose of this assignment is to familiarize yourself with your organization 
            (internal/external-macro/micro) environment, to go out there and speak to the right 
            people to get to know your organization, and then give your own opinion on how you feel 
            things should work, what is working and what is not.
        </p>
        <ul>
            <li><b>Describe the role IT plays within your organization.</b></li>
            <li><b>Illustrate the SWOT analysis of your company/department/unit</b></li>
        </ul>

        <h2>Project Management</h2><hr style="align-items: center; width: 250px;"> 
        <p>
            The purpose of this assignment is to demonstrate what you've learnt and 
            what project management experiences and knowledge you practiced towards the
             projects assigned to you.
        </p>
        <ul>
            <li><b>Identify the scope of your industry exposure period.</b></li>
            <li><b>Document a project plan (including activities and deliverables) of your industry exposure period</b></li>
        </ul>
    </div>
    <div class="assbtn">
        <input class = "Submitass" type="button" value="Submit Report">
    </div><br>
    <img  class = "footerimg"src="../../../assets/footer 1.png" alt="" />
</div>
</body>
