
<div class="main">
    <div class="header">
        <img src=".\assets\Eva.png" style="height: 50px; width: 50px;">
        <h3>Evaluations</h3>
    </div>
    <div class="supervison">
      <h2>SUPERVISION</h2><hr style="align-items: center; width: 250px;"> 
      <div class="QnA">
          <div class="1st">
              <p>Was your immediate supervisor of assistance in your developing an effective relationship with co-workers?</p>
              <div class="dropdown">
                  <button (click)=myFunction() class="dropbtn">Please select</button>
                  <div id="myDropdown" class="dropdown-content">
                    <a>FREQUENTLY</a>
                    <a>IF NEEDED</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
              </div>
          </div>
          
          <div class="2nd">
              <p>Did he/she appear interested in you as an individual?</p>
              <div class="dropdown">
                  <button (click)=myFunctionB() class="dropbtn">Please select</button>
                  <div id="myDropdown2" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div>
          <div class="3rd">
              <p>Did he/she give or provide for adequate training?</p>
              <div class="dropdown">
                  <button (click)=myFunctionC() class="dropbtn">Please select</button>
                  <div id="myDropdown3" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div>
          <div class="4th">
              <p>Did he/she motivate you to improve yourself?</p>
              <div class="dropdown">
                  <button (click)=myFunctionD() class="dropbtn">Please select</button>
                  <div id="myDropdown4" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div>
          <div class="5th">
              <p>Did you receive adequate instruction or assistance from your supervisor in the conduct of your work?</p>
              <div class="dropdown">
                  <button (click)=myFunctionE() class="dropbtn">Please select</button>
                  <div id="myDropdown5" class="dropdown-content">
                    <a>ALWAYS</a>
                    <a>FREQUENTLY</a>
                    <a>SOMETIMES</a>
                    <a>SELDOM</a>
                    <a>NEVER</a>
                  </div>
          </div> 
      </div>
  </div>
  <h2>CO-WORKERS</h2><hr style="align-items: center; width: 250px;"> 
  <div class="co-workers">
    <div class="QnA">
      <div class="1st">
          <p>Was your immediate supervisor of assistance in your developing an effective relationship with co-workers?</p>
          <div class="dropdown">
              <button (click)=myFunctionF() class="dropbtn">Please select</button>
              <div id="myDropdown6" class="dropdown-content">
                <a>FREQUENTLY</a>
                <a>IF NEEDED</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
          </div>
      </div>
      
      <div class="2nd">
          <p>Did he/she appear interested in you as an individual?</p>
          <div class="dropdown">
              <button (click)=myFunctionG() class="dropbtn">Please select</button>
              <div id="myDropdown7" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>
      <div class="3rd">
          <p>Did he/she give or provide for adequate training?</p>
          <div class="dropdown">
              <button (click)=myFunctionH() class="dropbtn">Please select</button>
              <div id="myDropdown8" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>
      <div class="4th">
          <p>Did he/she motivate you to improve yourself?</p>
          <div class="dropdown">
              <button (click)=myFunctionI() class="dropbtn">Please select</button>
              <div id="myDropdown9" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>
      <div class="5th">
          <p>Did you receive adequate instruction or assistance from your supervisor in the conduct of your work?</p>
          <div class="dropdown">
              <button (click)=myFunctionJ() class="dropbtn">Please select</button>
              <div id="myDropdown10" class="dropdown-content">
                <a>ALWAYS</a>
                <a>FREQUENTLY</a>
                <a>SOMETIMES</a>
                <a>SELDOM</a>
                <a>NEVER</a>
              </div>
      </div>  
  </div>
</div>


<div class="submitbtn">
  <button>H</button>
</div>





